 .list-container{
    width:700px;
    background-color: white;
    margin-top:400px;
    overflow: auto;
    padding-left:30px;
    padding-right:30px;
    text-align: left;
    border-radius:15px;
 }

 li{
    margin:5px 0;
    display: flex;
    justify-content: space-between;
 }

 .mealname{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:black;
 }

 .mealdesc{
    font-style: italic;
    font-weight: 100;
    color:gray;
 }

.mealprice{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkred;
}

.amount-heading{
    color:rgb(124, 18, 18);
}

.count-container{
    width:40px;
    height:20px;
    border: 1px solid black;
    margin-left:10px;
    margin-top:10px;
    border-radius: 4px;
}

.add-btn{
    padding:6px;
    background-color:rgb(61, 149, 61);
    color:white;
    border-radius: 5px;
}

.amount-div{
    display: flex;
}