.cart-btn{
    cursor:pointer;
    font:inherit;
    border:none;
    display:flex;
    justify-content: space-around;
    align-items:center;
    border-radius:25px;
    font-weight:bold;
    border-radius:20px;
    padding:0px;
    background-color: rgb(31, 144, 197);
    color:rgb(234, 228, 228);
    width:200px;
    margin:10px;

}
.cartname{
    padding:5px;
}